@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";

}

<!-- MAIN CONTENT-->
    <div class="container">
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="overview-wrap">
                                <h2 class="title-1">overview</h2>

                            </div>
                        </div>
                    </div>
                    <br/>
                    <!--Calendar-->
                    <div style="background-color:#666699; color:white; border-radius:15px; width:95%;padding:10px; margin-left:25px;" >
                        <center>

                            <h2 style="color:white; font-family:Tahoma;">Hii Girija Prasad Bhattarai.</h2>
                            <h3 style="color:white;">Thank You For Choosing Us!!!</h3>

                        </center>
                
       
                        <div style="font-family:unset; margin-left:20px;">
                            <label>Name Of Plan : 1 Year Unlimited</label><br />
                            <label>Speed : 30Mbps</label><br />
                            <label>Subscribe Date : 2020-10-25</label><br />
                            <label>Expiry Date : 2021-10-24</label><br />
                        </div>
                    </div>
                    
                    <br />
                    <div class="col">
                        <div class="au-card">
                            <div id="calendar"></div>
                        </div>
                    </div><!-- .col -->





                </div>
            </div>
        </div>


    </div>